:root {
    --bg-color: #ebebeb;
    --fore-color: #1f1f1f;
    --overlay-color: #ffffff;
    --wireframe-color: #000000;
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg-color: #333;
        --fore-color: #fff;
        --overlay-color: #222;
    }
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: var(--bg-color);
    color: var(--fore-color);
}

body, body * {
    box-sizing: border-box;
}

#root,
#environment,
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#root {
    zoom: var(--zoom, 1);
}
#loading {
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: z-index 250ms step-end, opacity 250ms linear;
    &::before {
        position: absolute;
        content: '';
        background: var(--overlay-color);
        width: 100%;
        height: 100%;
    }
    &::after {
        content: 'Loading...';
        z-index: 1;
    }
    &.hidden {
        opacity: 0;
        z-index: -1;
        transition: z-index 250ms step-start, opacity 250ms linear;
    }
}

.debug-logger {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: #ffffffc9;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    padding: 2px;
}

/* this will likely get nuked, don't count on it */
#game {
    &::after, &::before {
        content: '';
        border-color: magenta;
        border-width: 0;
        border-style: solid;
        position: absolute;
        z-index: 9999;
        --crosshair-thick: 1px;
        --crosshair-length: 25px;
    }
    &::before {
        width: var(--crosshair-size);
        height: var(--crosshair-length);
        top: calc(50% - var(--crosshair-length) / 2);
        left: calc(50% - var(--crosshair-thick) / 2);
        border-left-width: var(--crosshair-thick);
    }
    &::after {
        width: var(--crosshair-length);
        height: var(--crosshair-size);
        border-top-width: var(--crosshair-thick);
        left: calc(50% - var(--crosshair-length) / 2);
        top: calc(50% - var(--crosshair-thick) / 2);
    }
}

.object {
    position: absolute;
    transform-style: preserve-3d;
    z-index: 1;
    left: var(--x);
    top: var(--y);
    width: var(--w);
    height: var(--l);
    opacity: 1;
    transform:    
        rotateX(var(--r-x))
        rotateY(var(--r-y))
        rotateZ(var(--r-z))
        translateZ(var(--z))
    ;
    transform-origin: 50% 50% calc(var(--z) + var(--h) / 2);
    
    & * {
        transition: all 150ms ease-in-out;
        border: 1px solid var(--wireframe-color);
    }

    &.hidden * {
        background: none !important;
        border-color: rgba(0, 0, 0, 0.1) !important;
    }
}
#world > .object.offscreen {
    display: none !important;
}

.dot-3d {
    position: absolute;
    border-radius: 50%;
    background: magenta;
}

#tile {
    position: absolute;
    top: 0;
    left: 0;
    .tile {
        position: absolute;
        border: 1px solid magenta;
        border-width: 0 0 1px 1px;
        &::after {
            z-index: 0;
            display: flex;
            font-size: 2rem;
            color: rgba(255, 255, 255, 0.164);
            content: attr(id);
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: center;
        }
    }
}

.creature {
    position: absolute;
    transform-style: preserve-3d;
    z-index: 2;
    top: var(--y);
    left: var(--x);
    transition: all 150ms linear;
    transform: translateZ(var(--z));
}