:root {
    --bg-color: #ebebeb;
    --fore-color: #1f1f1f;
    --overlay-color: #ffffff;
    --wireframe-color: #df18c4;
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg-color: #333;
        --fore-color: #fff;
        --overlay-color: #222;
    }
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: var(--bg-color);
    color: var(--fore-color);
}

body, body * {
    box-sizing: border-box;
}

#root,
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#loading {
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: z-index 250ms step-end, opacity 250ms linear;
    &::before {
        position: absolute;
        content: '';
        background: var(--overlay-color);
        width: 100%;
        height: 100%;
    }
    &::after {
        content: 'Loading...';
        z-index: 1;
    }
    &.hidden {
        opacity: 0;
        z-index: -1;
        transition: z-index 250ms step-start, opacity 250ms linear;
    }
}

.debug-logger {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: #ffffffc9;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    padding: 2px;
}
#root {
    &:before, &:after {
        content: '';
        position: fixed;
    }
    &:before {
        top: calc(50% - (var(--pl-rad)));
        left: calc(50% - (var(--pl-rad)));
        width: calc(var(--pl-rad) * 2);
        height: calc(var(--pl-rad) * 2);
        border: 2px solid magenta;
        border-radius: 100%;
        box-sizing: border-box;
        outline: 2px dashed magenta;
    }
}
#world {
    position: absolute;
    transform-style: preserve-3d; 
    perspective: var(--p);
}

.object {
    position: absolute;
    transform-style: preserve-3d;
    z-index: 1;
    left: var(--x);
    top: var(--y);
    width: var(--w);
    height: var(--l);
    /* transform: rotate3d(var(--r-x), var(--r-y), var(--r-z)) translateZ(var(--z)); */
    transform: rotateZ(var(--r-z)) translateZ(var(--z));
    transform-origin: 50% 50% 0
}